.Card {
  width: 600px;
  margin-top: 15px;
  height: 200px;
  border-radius: 10px;
}

.CardCart {
  width: 300px;
  margin-top: 15px;
  height: 100px;
  float: right;
}

.Cover {
  position: relative;
  width: 200px !important;
  height: 200px !important;
  float: right;
  border-radius: 3px;
}

.Container {
  width: 70%;
  margin: auto;
}

.Right {
  float: right !important;
  margin-right: 10px;
}

.PriceLabel {
  width: 63%;
  margin-top: 30px;
}

.CheckoutButton {
  width: 100%;
}

.Link {
  color: white;
  text-decoration: none !important;
}

@media (max-width: 1300px) {
  .CardCart {
    position: absolute;
    top: 40px;
    width: 70%;
    margin: auto;
  }
  .Container {
    width: 70%;
    margin: auto;
    padding-top: 150px;
  }

  .Card {
    width: 100%;
    margin: 15px auto;
  }
}

@media (max-width: 700px) {
  .Cover {
    display: none;
  }

  .PriceLabel {
    margin-top: 5px;
  }
}
